:root{
  --dark-mode:lavender;
  --bg-color:white;
  --text-color:dimgray;
  --main-color:darkslateblue;
}

small{
  font-size: .7rem;
  font-weight: 900;
  color: var(--main-color);
}

.container{
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: var(--dark-mode);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight:600;
}
.todo-container{
  width: 500px;
  min-height: 500px;
  height: auto;
  background-color: var(--bg-color);
  border-radius: 30px;
  padding: 30px;
  color:var(--text-color);
  display: flex;
  flex-direction: column;
}
.footer button{
  background-color: var(--main-color);
  outline: none;
  border: none;
  color: var(--bg-color);
  padding: 10px;
  border-radius: 7px;
  box-shadow: 0 0 0 var(--main-color);
  transition: .3s box-shadow;
  cursor: pointer;
}
.footer button:hover{
  box-shadow: 0 0 0 2px var(--main-color);
}